.story {
  border-style: solid;
  padding: 10px;
  padding-top: 0px;
  margin-bottom: 10px;
  background: #766a68;
}

.storyItemText{
  color: fcf8e7;
}

#createButton {
  height: 40pt;
}

.createStoryInputField {
  border-color: black;
  width: 95%;
  min-height: 15pt;
  max-height: 100pt;
}