* {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 2.5ch;
  color: #382e2c;
}

.inverted {
  background-color: #766a68;
  color: #fcf8e7;
  padding: 10px;
}

.paleButton {
  background-color: #fcf8e7;
  color: #766a68;
  border-color:#766a68;
  border-width: 2px;
  font-weight: normal;
}

.bordered {
  border-style: solid;
  border-width: 3px;
  border-color: #382e2c;
  padding: 10px;
}

.faded {
  opacity: 0.4;
}

.warning {
  color: red;
}

.white {
  color: #fcf8e7;
}

.noMargin {
  margin: 0px;
}

.bold {
  font-weight: bold;
}

.pointer:hover {
  cursor: pointer;
}

.readLineBreaks {
  white-space: pre-line;
}

.hidden {
  display: none;
}

.blueText{
  color: #776fc5;
}

.blueButton{
  background-color: #696590;
  border-color: #3c3573;
}

body {
  background-color: #fcf8e7;
  max-width: 600px;
  margin: auto;
  padding: 30px;
}

button {
  background-color: #766a68;
  color: #fcf8e7;
  border-width: 3px;
  border-color: #382e2c;
  font-weight: bold;
  min-height: 30px;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  font-size: x-large;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

textarea {
  background-color: transparent;
}

div {
  margin: 10px 0px;
  font-size: 17px;
}

input {
  width: 100%;
}

p {
  margin-bottom: 5px;
  font-size: 17px;
}

a:hover {
  color: blue;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td {
  border: solid 1px black;
  margin-right: 10px;
}