#container {
  height: 30pt;
  background-color: aquamarine;
}

#field {
  height: 80%;
  left: 0px;
  width: 67%;
  resize: none;
}

#button {
  height: 30pt;
  width: 30%;
  vertical-align: top;
  position: absolute;
  right: 0px;
}